.row {
    border-bottom: 1px solid var(--color-border);

    &[data-highlighted="true"] {
        background-color: var(--color-green);
        color: var(--color-dark-green);
        font-weight: bold;
    }
}

.data {
    padding: var(--gap-small);
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8rem;
}

.strike {
    @extend .data;
    font-weight: bold;
    color: var(--color-dark-blue);
    background-color: var(--color-blue);
}